*{
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{
    font-weight: 900;
    font-size: 30px;
}
.nav-item{
    font-size: 18px;
}
#login-btn{
    background-color: #fd7e14;
    border: none;
    padding: 8px 20px;
    font-size: 20px;
    margin: 0 15px;
    font-weight: 700;
}